allow shell sv_app_exec:file { execute execute_no_trans getattr map open read };
allow shell sv_service_impl:binder { call transfer };
allow shell sv_service_impl_exec:file getattr;